:root {
    --accent-color: #611232;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3a0b1f, #3a0b1f6e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculadora {
    background: var(--accent-color);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px #3a0b1f;
    width: 300px;
    text-align: center;
    transition: border-color 0.4s ease;
}

h2 {
    color: #b38e5d;
    margin-top: 0;
    font-weight: bold;
    font-size: 26px;
    transition: color 0.4s ease;
}

.grupo-input {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f6f6f6;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #e9ecef;
    color: #666;
    cursor: not-allowed;
    font-weight: bold;
}

button {
    background-color: #fff;
    color: #b38e5d;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition:step-start
}

button:hover {
    background-color: #b38e5d;
    color: #fff;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}