body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1E201E, #3C3D37, #697565);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formulario {
    background: #3C3D37;
    /* gris oscuro */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px #1E201E;
    width: 450px;
    text-align: center;
    transition: border-color 0.4s ease;
}

h2 {
    color: #ECDFCC;
    /* beige claro */
    margin-top: 0;
    font-weight: bold;
    font-size: 26px;
    transition: color 0.4s ease;
}

.grupo-input {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ECDFCC;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #697565;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1E201E;
    color: #ECDFCC;
}

input[type="text"]:focus {
    border: 2px solid #ECDFCC;
    box-shadow: 0 0 10px #ECDFCC, 0 0 20px #ECDFCC;
    outline: none;
}

input[readonly] {
    background-color: #697565;
    color: #1E201E;
    cursor: not-allowed;
    font-weight: bold;
    border: 2px solid #ECDFCC;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#sumar,
#restar,
#multiplicar,
#dividir {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: all 250ms;
    overflow: hidden;
    background-color: transparent;
}

#sumar {
    border: 2px solid #ECDFCC;
    color: #ECDFCC;
}

#restar {
    border: 2px solid #697565;
    color: #697565;
}

#multiplicar {
    border: 2px solid #5d5f56;
    color: #5d5f56;
}

#dividir {
    border: 2px solid #1E201E;
    color: #1E201E;
}

button:before {
    transition: all 250ms;
}

#sumar:hover {
    box-shadow: 0 0 10px #ECDFCC, 0 0 20px #ECDFCC;
}

#restar:hover {
    box-shadow: 0 0 10px #697565, 0 0 20px #697565;
}

#multiplicar:hover {
    box-shadow: 0 0 10px #5d5f56, 0 0 20px #5d5f56;
}

#dividir:hover {
    box-shadow: 0 0 10px #1E201E, 0 0 20px #1E201E;
}

.error {
    color: #ECDFCC;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}

.warning {
    color: yellow;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}